openapi: 3.1.0
info:
  description: |-
    The Beta endpoints for the new Email Activity APIs - functionality is subject to change without notice. You may not have access to this Beta endpoint.

    Email Activity offers filtering and search by event type for two days worth of data. There is an optional add-on to store 60 days worth of data. This add-on also gives you access to the ability to download a CSV of the 60 days worth of email event data. The Beta endpoints for the new Email Activity APIs - functionality is subject to change without notice. You may not have access to this Beta endpoint.

    Email Activity offers filtering and search by event type for two days worth of data. There is an optional add-on to store 60 days worth of data. This add-on also gives you access to the ability to download a CSV of the 60 days worth of email event data.
  title: Email Activity (beta)
  version: ''
servers:
  - url: http://api.sendgrid.com/v3
tags:
  - name: Subuser Monitor Settings
  - name: segmenting contacts
  - name: Single Sign-On Settings
  - name: Settings - Partner
  - name: Contacts API - Recipients
  - name: Settings - Inbound Parse
  - name: Segmenting Contacts
  - name: IP Access Management
  - name: Messages
  - name: Suppressions - Unsubscribe Groups
  - name: Email CNAME records
  - name: CSV (UI only)
  - name: Bounces API
  - name: Designs API
  - name: Custom Fields
  - name: Segmenting Contacts V2 - Beta
  - name: Subuser Statistics
  - name: Send Test Email
  - name: IP Addresses
  - name: Query
  - name: V3
  - name: Invalid Emails API
  - name: Webhooks
  - name: Suppressions - Global Suppressions
  - name: Settings - Tracking
  - name: Contacts API - Lists
  - name: Marketing Campaigns Stats
  - name: API Key Permissions
  - name: Domain Authentication
  - name: Sender Identities API
  - name: Single Sign-On Teammates
  - name: Mail Send
  - name: Settings - Enforced TLS
  - name: IP Warmup
  - name: Categories
  - name: Campaigns API
  - name: Teammates
  - name: Sender Verification
  - name: Single Sends
  - name: Blocks API
  - name: Contacts
  - name: Certificates
  - name: Contacts API - Segments
  - name: Senders
  - name: Contacts API - Custom Fields
  - name: Spam Reports API
  - name: Subusers API
  - name: Link branding
  - name: Suppressions - Suppressions
  - name: Users API
  - name: Settings - Mail
  - name: API Keys
  - name: Transactional Templates
  - name: Reverse DNS
  - name: Email Address Validation
  - name: Transactional Templates Versions
  - name: Lists
  - name: Cancel Scheduled Sends
  - name: Stats
  - name: Alerts
  - name: IP Pools
paths:
  /access_settings/activity:
    get:
      description: '**This endpoint allows you to retrieve a list of all of the IP addresses that recently attempted to access your account either through the User Interface or the API.**'
      operationId: GET_access_settings-activity
      parameters:
        - description: Limits the number of IPs to return.
          in: query
          name: limit
          schema:
            default: 20
            type: integer
        - in: header
          name: on-behalf-of
          schema: &ref_3
            default: The subuser's username. This header generates the API call as if the subuser account was making the call.
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - allowed: false
                        auth_method: Web
                        first_at: 1444087966
                        ip: 1.1.1.1
                        last_at: 1444406672
                        location: Australia
                      - allowed: false
                        auth_method: Web
                        first_at: 1444087505
                        ip: 1.2.3.48
                        last_at: 1444087505
                        location: Mukilteo, Washington
              schema:
                properties:
                  result:
                    description: An array containing the IPs that recently attempted to access your account.
                    items:
                      properties:
                        allowed:
                          description: Indicates if the IP address was granted access to the account.
                          type: boolean
                        auth_method:
                          description: The authentication method used when attempting access.
                          type: string
                        first_at:
                          description: A Unix timestamp indicating when the first access attempt was made.
                          type: integer
                        ip:
                          description: The IP addressed used during the access attempt.
                          type: string
                        last_at:
                          description: A Unix timestamp indicating when the most recent access attempt was made
                          type: integer
                        location:
                          description: The geographic location from which the access attempt originated.
                          type: string
                      required:
                        - allowed
                        - auth_method
                        - first_at
                        - ip
                        - last_at
                        - location
                      type: object
                    type: array
                required:
                  - result
                type: object
          description: ''
        '401':
          content: &ref_4
            application/json:
              schema:
                example: &ref_0
                  errors:
                    - field: field_name
                      message: error message
                properties: &ref_1
                  errors:
                    items:
                      properties:
                        field:
                          description: the field that generated the error
                          nullable: true
                          type: string
                        help:
                          description: helper text or docs for troubleshooting
                          type: object
                        message:
                          description: the error message
                          type: string
                      required:
                        - message
                      type: object
                    type: array
                  id:
                    type: string
                title: Global Error Response Schema
                type: object
                x-stoplight: &ref_2
                  id: global_error_response_schema
                  name: Global Error Response Schema
                  public: true
          description: ''
        '403':
          content: &ref_5
            application/json:
              schema:
                example: *ref_0
                properties: *ref_1
                title: Global Error Response Schema
                type: object
                x-stoplight: *ref_2
          description: ''
        '404':
          content: &ref_6
            application/json:
              schema:
                example: *ref_0
                properties: *ref_1
                title: Global Error Response Schema
                type: object
                x-stoplight: *ref_2
          description: ''
        '500':
          content: &ref_7
            application/json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        message:
                          type: string
                      type: object
                    type: array
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all recent access attempts
      tags:
        - IP Access Management
      x-stoplight:
        id: GET_accesssettings-activity
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /access_settings/whitelist:
    delete:
      description: |-
        **This endpoint allows you to remove one or more IP addresses from your list of allowed addresses.**

        To remove one or more IP addresses, pass this endpoint an array containing the ID(s) associated with the IP(s) you intend to remove. You can retrieve the IDs associated with your allowed IP addresses using the "Retrieve a list of currently allowed IPs" endpoint.

        It is possible to remove your own IP address, which will block access to your account. You will need to submit a [support ticket](https://sendgrid.com/docs/ui/account-and-settings/support/) if this happens. For this reason, it is important to double check that you are removing only the IPs you intend to remove when using this endpoint.
      operationId: DELETE_access_settings-whitelist
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example:
                ids:
                  - 1
                  - 2
                  - 3
              properties:
                ids:
                  description: An array of the IDs of the IP address that you want to remove from your allow list.
                  items:
                    type: integer
                  type: array
              type: object
      responses:
        '204':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Remove one or more IPs from the allow list
      tags:
        - IP Access Management
      x-stoplight:
        id: DELETE_accesssettings-whitelist
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    get:
      description: |-
        **This endpoint allows you to retrieve a list of IP addresses that are currently allowed to access your account.**

        Each IP address returned to you will have `created_at` and `updated_at` dates. Each IP will also be associated with an `id` that can be used to remove the address from your allow list.
      operationId: GET_access_settings-whitelist
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - created_at: 1441824715
                        id: 1
                        ip: 192.168.1.1/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 2
                        ip: 192.168.1.2/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 3
                        ip: 192.168.1.3/32
                        updated_at: 1441824715
              schema:
                example: &ref_8
                  result:
                    - created_at: 1441824715
                      id: 1
                      ip: 192.168.1.1/32
                      updated_at: 1441824715
                    - created_at: 1441824715
                      id: 2
                      ip: 192.0.0.0/8
                      updated_at: 1441824715
                    - created_at: 1441824715
                      id: 3
                      ip: 192.168.1.3/32
                      updated_at: 1441824715
                properties: &ref_9
                  result:
                    description: An array listing all of your allowed IPs.
                    items:
                      properties:
                        created_at:
                          description: A Unix timestamp indicating when the IP was added to the allow list.
                          type: integer
                        id:
                          description: The ID of the allowed IP.
                          type: integer
                        ip:
                          description: The allowed IP.
                          type: string
                        updated_at:
                          description: A Unix timestamp indicating when the IPs allow status was most recently updated.
                          type: integer
                      type: object
                    type: array
                title: IP Access Response
                type: object
                x-stoplight: &ref_10
                  id: ip-access-response
                  name: IP Access Response
                  public: true
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Retrieve a list of currently allowed IPs
      tags:
        - IP Access Management
      x-stoplight:
        id: GET_accesssettings-whitelist
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      description: |-
        **This endpoint allows you to add one or more allowed IP addresses.**

        To allow one or more IP addresses, pass them to this endpoint in an array. Once an IP address is added to your allow list, it will be assigned an `id` that can be used to remove the address. You can retrieve the ID associated with an IP using the "Retrieve a list of currently allowed IPs" endpoint.
      operationId: POST_access_settings-whitelist
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example:
                ips:
                  - ip: 192.168.1.1
                  - ip: 192.*.*.*
                  - ip: 192.168.1.3/32
              properties:
                ips:
                  description: An array containing the IP(s) you want to allow.
                  items:
                    properties:
                      ip:
                        description: An IP address that you want to allow.
                        type: string
                    required:
                      - ip
                    type: object
                  type: array
              required:
                - ips
              type: object
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - created_at: 1441824715
                        id: 1
                        ip: 192.168.1.1/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 2
                        ip: 192.0.0.0/8
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 3
                        ip: 192.168.1.3/32
                        updated_at: 1441824715
              schema:
                example: *ref_8
                properties: *ref_9
                title: IP Access Response
                type: object
                x-stoplight: *ref_10
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Add one or more IPs to the allow list
      tags:
        - IP Access Management
      x-stoplight:
        id: POST_accesssettings-whitelist
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /access_settings/whitelist/{rule_id}:
    delete:
      description: |-
        **This endpoint allows you to remove a specific IP address from your list of allowed addresses.**

        When removing a specific IP address from your list, you must include the ID in your call.  You can retrieve the IDs associated with your allowed IP addresses using the "Retrieve a list of currently allowed IPs" endpoint.
      operationId: DELETE_access_settings-whitelist-rule_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Remove a specific IP from the allowed list
      tags:
        - IP Access Management
      x-stoplight:
        id: DELETE_accesssettings-whitelist-ruleid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    get:
      description: |-
        **This endpoint allows you to retreive a specific IP address that has been allowed to access your account.**

        You must include the ID for the specific IP address you want to retrieve in your call. You can retrieve the IDs associated with your allowed IP addresses using the "Retrieve a  list of currently allowed IPs" endpoint.
      operationId: GET_access_settings-whitelist-rule_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1441824715
                    id: 1
                    ip: 192.168.1.1
                    updated_at: 1441824715
              schema:
                example: *ref_8
                properties: *ref_9
                title: IP Access Response
                type: object
                x-stoplight: *ref_10
          description: ''
      security:
        - Authorization: []
      summary: Retrieve a specific allowed IP
      tags:
        - IP Access Management
      x-stoplight:
        id: GET_accesssettings-whitelist-ruleid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    parameters:
      - description: The ID of the allowed IP address that you want to retrieve.
        in: path
        name: rule_id
        required: true
        schema:
          type: string
  /alerts:
    get:
      description: |-
        **This endpoint allows you to retrieve all of your alerts.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [Alerts documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      operationId: GET_alerts
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - created_at: 1451498784
                      email_to: example1@example.com
                      id: 46
                      percentage: 90
                      type: usage_limit
                      updated_at: 1451498784
                    - created_at: 1451498812
                      email_to: example2@example.com
                      frequency: monthly
                      id: 47
                      type: stats_notification
                      updated_at: 1451498812
                    - created_at: 1451520930
                      email_to: example3@example.com
                      frequency: daily
                      id: 48
                      type: stats_notification
                      updated_at: 1451520930
              schema:
                description: The list of alerts.
                items:
                  properties:
                    created_at:
                      description: A Unix timestamp indicating when the alert was created.
                      type: integer
                    email_to:
                      description: The email address that the alert will be sent to.
                      type: string
                    frequency:
                      description: If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, "daily", "weekly", or "monthly".
                      type: string
                    id:
                      description: The ID of the alert.
                      type: integer
                    percentage:
                      description: If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.
                      type: integer
                    type:
                      description: The type of alert.
                      enum:
                        - usage_limit
                        - stats_notification
                      type: string
                    updated_at:
                      description: A Unix timestamp indicating when the alert was last modified.
                      type: integer
                  required:
                    - created_at
                    - email_to
                    - id
                    - type
                  type: object
                type: array
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all alerts
      tags:
        - Alerts
      x-stoplight:
        beforeScript: |-
          function (ctx, request) {
            // Your javascript code here.+
            request.header.set('User-Agent', 'sendgrid/stoplightLocs');
          }
        id: GET_alerts
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      description: |-
        **This endpoint allows you to create a new alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. There are two types of alerts that can be created with this endpoint:

        * `usage_limit` allows you to set the threshold at which an alert will be sent.
        * `stats_notification` allows you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [Alerts documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      operationId: POST_alerts
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
        - in: header
          name: on-behalf-of
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                email_to: example@example.com
                frequency: daily
                type: stats_notification
              properties:
                email_to:
                  description: |-
                    The email address the alert will be sent to.
                    Example: test@example.com
                  format: email
                  nullable: true
                  type: string
                frequency:
                  description: |-
                    Required for stats_notification. How frequently the alert will be sent.
                    Example: daily
                  type: string
                percentage:
                  description: |-
                    Required for usage_alert. When this usage threshold is reached, the alert will be sent.
                    Example: 90
                  type: integer
                type:
                  description: |-
                    The type of alert you want to create. Can be either usage_limit or stats_notification.
                    Example: usage_limit
                  enum:
                    - stats_notification
                    - usage_limit
                  type: string
              required:
                - type
                - email_to
              type: object
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: test@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451520930
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the alert was created.
                    type: integer
                  email_to:
                    description: The email address that the alert will be sent to.
                    format: email
                    type: string
                  frequency:
                    description: If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, "daily", "weekly", or "monthly".
                    type: string
                  id:
                    description: The ID of the alert.
                    type: integer
                  percentage:
                    description: '"If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.'
                    type: integer
                  type:
                    description: The type of alert.
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the alert was last modified.
                    type: integer
                required:
                  - created_at
                  - email_to
                  - id
                  - type
                  - updated_at
                type: object
          description: ''
        '400':
          content:
            application/json:
              schema:
                properties:
                  field:
                    type: string
                  message:
                    type: string
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Create a new Alert
      tags:
        - Alerts
      x-stoplight:
        id: POST_alerts
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /alerts/{alert_id}:
    delete:
      description: |-
        **This endpoint allows you to delete an alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [Alerts documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      operationId: DELETE_alerts-alert_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Delete an alert
      tags:
        - Alerts
      x-stoplight:
        id: DELETE_alerts-alertid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    get:
      description: |-
        **This endpoint allows you to retrieve a specific alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [Alerts documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      operationId: GET_alerts-alert_id
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: example@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451520930
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the alert was created.
                    type: integer
                  email_to:
                    description: The email address that the alert will be sent to.
                    type: string
                  frequency:
                    description: 'If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: "daily", "weekly", or "monthly".'
                    type: string
                  id:
                    description: The ID of the alert.
                    type: integer
                  percentage:
                    description: If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.
                    type: integer
                  type:
                    description: The type of alert.
                    enum:
                      - usage_alert
                      - stats_notification
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the alert was last modified.
                    type: integer
                required:
                  - created_at
                  - email_to
                  - id
                  - type
                  - updated_at
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Retrieve a specific alert
      tags:
        - Alerts
      x-stoplight:
        id: GET_alerts-alertid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    parameters:
      - description: The ID of the alert you would like to retrieve.
        in: path
        name: alert_id
        required: true
        schema:
          type: integer
    patch:
      description: |-
        **This endpoint allows you to update an alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [Alerts documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      operationId: PATCH_alerts-alert_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example:
                email_to: example@example.com
              properties:
                email_to:
                  description: |-
                    The new email address you want your alert to be sent to.
                    Example: test@example.com
                  type: string
                frequency:
                  description: |-
                    The new frequency at which to send the stats_notification alert.
                    Example: monthly
                  type: string
                percentage:
                  description: |-
                    The new percentage threshold at which the usage_limit alert will be sent.
                    Example: 90
                  type: integer
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: example@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451522691
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the alert was created.
                    type: integer
                  email_to:
                    description: The email address that the alert will be sent to.
                    type: string
                  frequency:
                    description: 'If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: "daily", "weekly", or "monthly".'
                    type: string
                  id:
                    description: The ID of the alert.
                    type: integer
                  percentage:
                    description: If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.
                    type: integer
                  type:
                    description: The type of alert.
                    enum:
                      - usage_alert
                      - stats_notification
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the alert was last modified.
                    type: integer
                required:
                  - created_at
                  - email_to
                  - id
                  - type
                  - updated_at
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Update an alert
      tags:
        - Alerts
      x-stoplight:
        id: PATCH_alerts-alertid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /api_keys:
    get:
      description: |-
        **This endpoint allows you to retrieve all API Keys that belong to the authenticated user.**

        A successful response from this API will include all available API keys' names and IDs.

        For security reasons, there is not a way to retrieve the key itself after it's created. If you lose your API key, you must create a new one. Only the "Create API keys" endpoint will return a key to you and only at the time of creation.

        An `api_key_id` can be used to update or delete the key, as well as retrieve the key's details, such as its scopes.
      operationId: GET_api_keys
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - api_key_id: some-apikey-id
                        name: API Key Name
                      - api_key_id: another-apikey-id
                        name: API Key Name 2
              schema:
                properties:
                  result:
                    items:
                      example: &ref_12
                        api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                        name: Mail Send
                      properties: &ref_13
                        api_key_id:
                          description: 'The ID of your API Key. '
                          type: string
                        name:
                          description: The name of your API Key.
                          type: string
                      title: API Key Name and ID
                      type: object
                      x-stoplight: &ref_14
                        id: api_key_name_id
                        name: API Key Name and ID
                        public: true
                    type: array
                type: object
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all API Keys belonging to the authenticated user
      tags:
        - API Keys
      x-stoplight:
        id: GET_apikeys
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      description: |-
        **This endpoint allows you to create a new API Key for the user.**

        To create your initial SendGrid API Key, you should [use the SendGrid App](https://app.sendgrid.com/settings/api_keys). Once you have created a first key with scopes to manage additional API keys, you can use this API for all other key management.

        > There is a limit of 100 API Keys on your account.

        A JSON request body containing a `name` property is required when making requests to this endpoint. If the number of maximum keys, 100, is reached, a `403` status will be returned.

        Though the `name` field is required, it does not need to be unique. A unique API key ID will be generated for each key you create and returned in the response body.

        It is not necessary to pass a `scopes` field to the API when creating a key, but you should be aware that omitting the `scopes` field from your request will create a key with "Full Access" permissions by default.

        See the [API Key Permissions List](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-authorization) for all available scopes. An API key's scopes can be updated after creation using the "Update API keys" endpoint.
      operationId: create-api-keys
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: My API Key
                scopes:
                  - mail.send
                  - alerts.create
                  - alerts.read
              properties:
                name:
                  description: The name you will use to describe this API Key.
                  type: string
                scopes:
                  description: The individual permissions that you are giving to this API Key.
                  items:
                    type: string
                  type: array
              required:
                - name
              type: object
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key: SG.xxxxxxxx.yyyyyyyy
                    api_key_id: xxxxxxxx
                    name: My API Key
                    scopes:
                      - mail.send
                      - alerts.create
                      - alerts.read
              schema:
                properties:
                  api_key:
                    type: string
                  api_key_id:
                    type: string
                  name:
                    type: string
                  scopes:
                    items:
                      type: string
                    type: array
                type: object
          description: ''
        '400':
          content: &ref_11
            application/json:
              schema:
                example: *ref_0
                properties: *ref_1
                title: Global Error Response Schema
                type: object
                x-stoplight: *ref_2
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: &ref_15
            application/json:
              schema:
                example: *ref_0
                properties: *ref_1
                title: Global Error Response Schema
                type: object
                x-stoplight: *ref_2
          description: ''
        '404':
          content: &ref_16
            application/json:
              schema:
                example: *ref_0
                properties: *ref_1
                title: Global Error Response Schema
                type: object
                x-stoplight: *ref_2
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Create API keys
      tags:
        - API Keys
      x-stoplight:
        id: create-api-keys
        mock:
          dynamic: false
          enabled: false
          statusCode: 201
        public: true
  /api_keys/{api_key_id}:
    delete:
      description: |-
        **This endpoint allows you to revoke an existing API Key using an `api_key_id`**

        Authentications using a revoked API Key will fail after after some small propogation delay. If the API Key ID does not exist, a `404` status will be returned.
      operationId: DELETE_api_keys-api_key_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          description: ''
        '400':
          content: *ref_11
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Delete API keys
      tags:
        - API Keys
      x-stoplight:
        id: DELETE_apikeys-apikeyid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    get:
      description: |-
        **This endpoint allows you to retrieve a single API key using an `api_key_id`.**

        The endpoint will return a key's name, ID, and scopes. If the API Key ID does not, exist a `404` status will be returned.

        See the [API Key Permissions List](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-authorization) for all available scopes. An API key's scopes can be updated after creation using the "Update API keys" endpoint.
      operationId: GET_api_keys-api_key_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - api_key_id: some-apikey-id
                        name: API Key Name
                      - api_key_id: another-apikey-id
                        name: API Key Name 2
              schema:
                properties:
                  result:
                    items:
                      allOf: &ref_17
                        - properties:
                            scopes:
                              description: The permissions this API Key has access to.
                              items:
                                type: string
                              type: array
                          type: object
                        - example: *ref_12
                          properties: *ref_13
                          title: API Key Name and ID
                          type: object
                          x-stoplight: *ref_14
                      example: &ref_18
                        api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                        name: Mail Send
                        scopes:
                          - mail.send
                          - mail.batch.create
                          - mail.batch.read
                          - mail.batch.update
                          - mail.batch.delete
                          - user.scheduled_sends.create
                          - user.scheduled_sends.read
                          - user.scheduled_sends.update
                          - user.scheduled_sends.delete
                          - sender_verification_eligible
                          - sender_verification_legacy
                          - 2fa_required
                      title: API Key Name, ID, and Scopes
                      x-stoplight: &ref_19
                        id: api_key_name_id_scopes
                        name: API Key Name, ID, and Scopes
                        public: true
                    type: array
                type: object
          description: ''
        '400':
          content: *ref_11
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_15
          description: ''
        '404':
          content: *ref_16
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Retrieve an existing API Key
      tags:
        - API Keys
      x-stoplight:
        id: GET_apikeys-apikeyid
        mock:
          dynamic: false
        public: true
    parameters:
      - description: ''
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
    patch:
      description: |-
        **This endpoint allows you to update the name of an existing API Key.**

        You must pass this endpoint a JSON request body with a `name` property, which will be used to rename the key associated with the `api_key_id` passed in the URL.
      operationId: PATCH_api_keys-api_key_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: A New Hope
              properties:
                name:
                  description: The new name of the API Key.
                  type: string
              required:
                - name
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                    name: A New Hope
              schema:
                example: *ref_12
                properties: *ref_13
                title: API Key Name and ID
                type: object
                x-stoplight: *ref_14
          description: ''
        '400':
          content: *ref_11
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Update API key name
      tags:
        - API Keys
      x-stoplight:
        id: PATCH_apikeys-apikeyid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    put:
      description: |-
        **This endpoint allows you to update the name and scopes of a given API key.**

        You must pass this endpoint a JSON request body with a `name` field and a `scopes` array containing at least one scope. The `name` and `scopes` fields will be used to update the key associated with the `api_key_id` in the request URL.

        If you need to update a key's scopes only, pass the `name` field with the key's existing name; the `name` will not be modified. If you need to update a key's name only, use the "Update API key name" endpoint.

        See the [API Key Permissions List](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-authorization) for all available scopes.
      operationId: PUT_api_keys-api_key_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Profiles key
                scopes:
                  - user.profile.read
                  - user.profile.update
              properties:
                name:
                  type: string
                scopes:
                  items:
                    type: string
                  type: array
              required:
                - name
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                    name: Profiles Key
                    scopes:
                      - user.profile.read
                      - user.profile.update
              schema:
                allOf: *ref_17
                example: *ref_18
                title: API Key Name, ID, and Scopes
                x-stoplight: *ref_19
          description: ''
        '400':
          content: *ref_11
          description: ''
        '401':
          content: *ref_4
          description: ''
        '403':
          content: *ref_5
          description: ''
        '404':
          content: *ref_6
          description: ''
        '500':
          content: *ref_7
          description: ''
      security:
        - Authorization: []
      summary: Update API key name and scopes
      tags:
        - API Keys
      x-stoplight:
        id: PUT_apikeys-apikeyid
        mock:
          dynamic: false
        public: true
  /asm/groups:
    get:
      description: |-
        **This endpoint allows you to retrieve a list of all suppression groups created by this user.**

        This endpoint can also return information for multiple group IDs that you include in your request. To add a group ID to your request, simply append `?id=123456&id=123456`, with the appropriate group IDs.
      operationId: GET_asm-groups
      parameters:
        - in: query
          name: id
          schema:
            type: integer
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - description: An Unsubscribe Group
                      id: 1234
                      is_default: true
                      last_email_sent_at: null
                      name: Unsubscribe Group
                      unsubscribes: 1234
                    - description: An Unsubscribe Group
                      id: 1234
                      is_default: true
                      last_email_sent_at: null
                      name: Unsubscribe Group
                      unsubscribes: 1234
              schema:
                items:
                  properties: &ref_22
                    description:
                      description: A description of the suppression group.
                      maxLength: 100
                      type: string
                    id:
                      description: The id of the suppression group.
                      type: number
                    is_default:
                      default: false
                      description: Indicates if this is the default suppression group.
                      type: boolean
                    last_email_sent_at:
                      nullable: true
                      type: integer
                    name:
                      description: The name of the suppression group. Each group created by a user must have a unique name.
                      maxLength: 30
                      type: string
                    unsubscribes:
                      description: The unsubscribes associated with this group.
                      type: integer
                  required: &ref_23
                    - id
                    - name
                    - description
                  title: 'Suppressions: Suppression Group'
                  type: object
                  x-stoplight: &ref_24
                    id: suppression_group
                    name: 'Suppressions: Suppression Group'
                    public: true
                type: array
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all suppression groups associated with the user.
      tags:
        - Suppressions - Unsubscribe Groups
      x-stoplight:
        id: GET_asm-groups
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      description: |-
        **This endpoint allows you to create a new suppression group.**

        To add an email address to the suppression group, [create a Suppression](https://sendgrid.api-docs.io/v3.0/suppressions-suppressions/add-suppressions-to-a-suppression-group).
      operationId: POST_asm-groups
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              properties: &ref_20
                description:
                  description: A brief description of your suppression group. Required when creating a group.
                  maxLength: 100
                  type: string
                is_default:
                  description: Indicates if you would like this to be your default suppression group.
                  type: boolean
                name:
                  description: The name of your suppression group. Required when creating a group.
                  maxLength: 30
                  type: string
              title: Suppression Group Request Base
              type: object
              x-stoplight: &ref_21
                id: suppression-group-request-base
                name: Suppression Group Request Base
                public: true
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Suggestions for products our users might like.
                    id: 103
                    is_default: false
                    name: Product Suggestions
              schema:
                properties:
                  description:
                    description: A brief description of the suppression group.
                    type: string
                  id:
                    description: The ID of the suppression group.
                    type: integer
                  is_default:
                    description: Indicates if this is the default suppression group.
                    type: boolean
                  name:
                    description: The name of the suppression group.
                    type: string
                required:
                  - id
                  - name
                  - description
                  - is_default
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Create a new suppression group
      tags:
        - Suppressions - Unsubscribe Groups
      x-stoplight:
        id: POST_asm-groups
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /asm/groups/{group_id}:
    delete:
      description: |-
        **This endpoint allows you to delete a suppression group.**

        If a recipient uses the "one-click unsubscribe" option on an email associated with a deleted group, that recipient will be added to the global suppression list.

        Deleting a suppression group will remove the suppression, meaning email will once again be sent to the previously suppressed addresses. This should be avoided unless a recipient indicates they wish to receive email from you again. You can use our [bypass filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions) to deliver messages to otherwise suppressed addresses when exceptions are required.
      operationId: DELETE_asm-groups-group_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          content:
            application/json:
              schema:
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Delete a Suppression Group
      tags:
        - Suppressions - Unsubscribe Groups
      x-stoplight:
        id: DELETE_asm-groups-groupid
        mock:
          dynamic: false
          statusCode: 204
        public: true
    get:
      description: '**This endpoint allows you to retrieve a single suppression group.**'
      operationId: GET_asm-groups-group_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Our monthly newsletter.
                    id: 100
                    is_default: true
                    last_email_sent_at: null
                    name: Newsletters
                    unsubscribes: 400
              schema:
                allOf:
                  - properties: *ref_20
                    title: Suppression Group Request Base
                    type: object
                    x-stoplight: *ref_21
                  - properties:
                      id:
                        description: The ID of the suppression group.
                        type: integer
                      last_email_sent_at:
                        nullable: true
                        type: string
                      unsubscribes:
                        description: The number of unsubscribes, or suppressions, in this group.
                        type: integer
                    required:
                      - id
                    type: object
          description: ''
      security:
        - Authorization: []
      summary: Get information on a single suppression group.
      tags:
        - Suppressions - Unsubscribe Groups
      x-stoplight:
        id: GET_asm-groups-groupid
        mock:
          dynamic: false
        public: true
    parameters:
      - description: The ID of the suppression group you would like to retrieve.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    patch:
      description: '**This endpoint allows you to update or change a suppression group.**'
      operationId: PATCH_asm-groups-group_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - properties: *ref_20
                  title: Suppression Group Request Base
                  type: object
                  x-stoplight: *ref_21
              example:
                description: Suggestions for items our users might like.
                id: 103
                name: Item Suggestions
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Suggestions for items our users might like.
                    id: 103
                    name: Item Suggestions
              schema:
                properties: *ref_22
                required: *ref_23
                title: 'Suppressions: Suppression Group'
                type: object
                x-stoplight: *ref_24
          description: ''
      security:
        - Authorization: []
      summary: Update a suppression group.
      tags:
        - Suppressions - Unsubscribe Groups
      x-stoplight:
        id: PATCH_asm-groups-groupid
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /asm/groups/{group_id}/suppressions:
    get:
      description: '**This endpoint allows you to retrieve all suppressed email addresses belonging to the given group.**'
      operationId: GET_asm-groups-group_id-suppressions
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - example@example.com
                    - example2@example.com
              schema:
                description: The list of email addresses belonging to the given suppression group.
                items:
                  format: email
                  type: string
                type: array
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all suppressions for a suppression group
      tags:
        - Suppressions - Suppressions
      x-stoplight:
        id: GET_asm-groups-groupid-suppressions
        mock:
          dynamic: false
        public: true
    parameters:
      - description: The id of the unsubscribe group that you are adding suppressions to.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    post:
      description: |-
        **This endpoint allows you to add email addresses to an unsubscribe group.**

        If you attempt to add suppressions to a group that has been deleted or does not exist, the suppressions will be added to the global suppressions list.
      operationId: POST_asm-groups-group_id-suppressions
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content: &ref_25
          application/json:
            schema:
              example: &ref_404
                recipient_emails:
                  - test1@example.com
                  - test2@example.com
              properties: &ref_405
                recipient_emails:
                  description: The array of email addresses to add or find.
                  items:
                    format: email
                    type: string
                  type: array
              required: &ref_406
                - recipient_emails
              title: Suppressions Request Body
              type: object
              x-stoplight: &ref_407
                id: suppressions-request
                name: Suppressions Request Body
                public: true
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - test1@example.com
                      - test2@example.com
              schema:
                properties:
                  recipient_emails:
                    description: The email addresses you added to the unsubscribe group
                    items:
                      format: email
                      type: string
                    type: array
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Add suppressions to a suppression group
      tags:
        - Suppressions - Suppressions
      x-stoplight:
        id: POST_asm-groups-groupid-suppressions
        mock:
          dynamic: false
        public: true
  /asm/groups/{group_id}/suppressions/search:
    parameters:
      - description: The ID of the suppression group that you would like to search.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    post:
      description: |-
        **This endpoint allows you to search a suppression group for multiple suppressions.**

        When given a list of email addresses and a group ID, this endpoint will only return the email addresses that have been unsubscribed from the given group.
      operationId: POST_asm-groups-group_id-suppressions-search
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content: *ref_25
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - exists1@example.com
                    - exists2@example.com
              schema:
                description: The email address from your search that do exist in the suppression group.
                items:
                  format: email
                  type: string
                type: array
          description: ''
      security:
        - Authorization: []
      summary: Search for suppressions within a group
      tags:
        - Suppressions - Suppressions
      x-stoplight:
        id: POST_asm-groups-groupid-suppressions-search
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /asm/groups/{group_id}/suppressions/{email}:
    delete:
      description: |-
        **This endpoint allows you to remove a suppressed email address from the given suppression group.**

        Removing an address will remove the suppression, meaning email will once again be sent to the previously suppressed addresses. This should be avoided unless a recipient indicates they wish to receive email from you again. You can use our [bypass filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions) to deliver messages to otherwise suppressed addresses when exceptions are required.
      operationId: DELETE_asm-groups-group_id-suppressions-email
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          content:
            application/json:
              schema:
                nullable: true
          description: ''
      security:
        - Authorization: []
      summary: Delete a suppression from a suppression group
      tags:
        - Suppressions - Suppressions
      x-stoplight:
        id: DELETE_asm-groups-groupid-suppressions-email
        mock:
          dynamic: false
          statusCode: 204
        public: true
    parameters:
      - description: The id of the suppression group that you are removing an email address from.
        in: path
        name: group_id
        required: true
        schema:
          type: string
      - description: The email address that you want to remove from the suppression group.
        in: path
        name: email
        required: true
        schema:
          type: string
  /asm/suppressions:
    get:
      description: '**This endpoint allows you to retrieve a list of all suppressions.**'
      operationId: GET_asm-suppressions
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - created_at: 1410986704
                      email: test1@example.com
                      group_id: 1
                      group_name: Weekly News
                    - created_at: 1411493671
                      email: test1@example.com
                      group_id: 2
                      group_name: Daily News
                    - created_at: 1411493671
                      email: test2@example.com
                      group_id: 2
                      group_name: Daily News
              schema:
                items:
                  properties:
                    created_at:
                      description: A UNIX timestamp indicating when the suppression was created.
                      type: integer
                    email:
                      description: The email address that was suppressed.
                      type: string
                    group_id:
                      description: The id of the suppression group that this email address belongs to.
                      type: integer
                    group_name:
                      description: The name of the suppression group that this email address belongs to.
                      type: string
                  required:
                    - email
                    - group_id
                    - group_name
                    - created_at
                  type: object
                type: array
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all suppressions
      tags:
        - Suppressions - Suppressions
      x-stoplight:
        id: GET_asm-suppressions
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /asm/suppressions/global:
    post:
      description: '**This endpoint allows you to add one or more email addresses to the global suppressions group.**'
      operationId: POST_asm-suppressions-global
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content: *ref_25
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - test1@example.com
                      - test2@example.com
              schema:
                properties:
                  recipient_emails:
                    description: The email addresses that are globally suppressed
                    items:
                      format: email
                      type: string
                    type: array
                required:
                  - recipient_emails
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Add recipient addresses to the global suppression group.
      tags:
        - Suppressions - Global Suppressions
      x-stoplight:
        id: POST_asm-suppressions-global
        mock:
          dynamic: false
        public: true
  /asm/suppressions/global/{email}:
    delete:
      description: |-
        **This endpoint allows you to remove an email address from the global suppressions group.**

        Deleting a suppression group will remove the suppression, meaning email will once again be sent to the previously suppressed addresses. This should be avoided unless a recipient indicates they wish to receive email from you again. You can use our [bypass filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions) to deliver messages to otherwise suppressed addresses when exceptions are required.
      operationId: DELETE_asm-suppressions-global-email
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          content:
            application/json:
              schema:
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Delete a Global Suppression
      tags:
        - Suppressions - Global Suppressions
      x-stoplight:
        id: DELETE_asm-suppressions-global-email
        mock:
          dynamic: false
        public: true
    get:
      description: |-
        **This endpoint allows you to retrieve a global suppression. You can also use this endpoint to confirm if an email address is already globally suppresed.**

        If the email address you include in the URL path parameter `{email}` is already globally suppressed, the response will include that email address. If the address you enter for `{email}` is not globally suppressed, an empty JSON object `{}` will be returned.
      operationId: GET_asm-suppressions-global-email
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_email: test@example.com
              schema:
                properties:
                  recipient_email:
                    description: The email address that is globally suppressed. This will be an empty object if the email address you included in your call is not globally suppressed.
                    format: email
                    type: string
                required:
                  - recipient_email
                title: Retrieve a Global Suppression response
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Retrieve a Global Suppression
      tags:
        - Suppressions - Global Suppressions
      x-stoplight:
        id: GET_asm-suppressions-global-email
        mock:
          dynamic: false
        public: true
    parameters:
      - description: The email address of the global suppression you want to retrieve. Or, if you want to check if an email address is on the global suppressions list, enter that email address here.
        in: path
        name: email
        required: true
        schema:
          type: string
  /asm/suppressions/{email}:
    get:
      description: '**This endpoint returns a list of all groups from which the given email address has been unsubscribed.**'
      operationId: GET_asm-suppressions-email
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    suppressions:
                      - description: Optional description.
                        id: 1
                        is_default: true
                        name: Weekly News
                        suppressed: true
                      - description: Some daily news.
                        id: 2
                        is_default: true
                        name: Daily News
                        suppressed: true
                      - description: An old group.
                        id: 2
                        is_default: false
                        name: Old News
                        suppressed: false
              schema:
                properties:
                  suppressions:
                    description: The array of suppression groups.
                    items:
                      properties:
                        description:
                          description: The description of the suppression group.
                          type: string
                        id:
                          description: The id of the suppression group.
                          type: integer
                        is_default:
                          description: Indicates if the suppression group  is set as the default.
                          type: boolean
                        name:
                          description: The name of the suppression group.
                          type: string
                        suppressed:
                          description: Indicates if the given email address is suppressed for this group.
                          type: boolean
                      required:
                        - description
                        - id
                        - is_default
                        - name
                        - suppressed
                      type: object
                    type: array
                required:
                  - suppressions
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all suppression groups for an email address
      tags:
        - Suppressions - Suppressions
      x-stoplight:
        id: GET_asm-suppressions-email
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    parameters:
      - description: The email address that you want to search suppression groups for.
        in: path
        name: email
        required: true
        schema:
          type: string
  /browsers/stats:
    get:
      description: |-
        **This endpoint allows you to retrieve your email statistics segmented by browser type.**

        **We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.

        Advanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [Statistics Overview](https://sendgrid.com/docs/ui/analytics-and-reporting/stats-overview/).
      operationId: GET_browsers-stats
      parameters:
        - description: The browsers to get statistics for. You can include up to 10 different browsers by including this parameter multiple times.
          in: query
          name: browsers
          schema:
            type: string
        - in: header
          name: on-behalf-of
          schema: *ref_3
        - description: The number of results to return.
          in: query
          name: limit
          required: false
          schema: &ref_89
            type: integer
        - description: The point in the list to begin retrieving results.
          in: query
          name: offset
          required: false
          schema: &ref_90
            type: integer
        - description: How to group the statistics. Must be either "day", "week", or "month".
          in: query
          name: aggregated_by
          required: false
          schema: &ref_91
            enum:
              - day
              - week
              - month
            type: string
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          schema: &ref_92
            type: string
        - description: The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          schema: &ref_93
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    - date: '2014-10-01'
                      stats:
                        - metrics:
                            clicks: 0
                            unique_clicks: 0
                          name: Chrome
                          type: browser
                        - metrics:
                            clicks: 1
                            unique_clicks: 1
                          name: Firefox
                          type: browser
                    - date: '2014-10-02'
                      stats:
                        - metrics:
                            clicks: 0
                            unique_clicks: 0
                          name: Chrome
                          type: browser
                        - metrics:
                            clicks: 1
                            unique_clicks: 1
                          name: Firefox
                          type: browser
              schema:
                items:
                  properties:
                    date:
                      description: The date that the statistics were gathered.
                      type: string
                    stats:
                      description: The list of statistics.
                      items:
                        properties:
                          metrics:
                            description: The individual events and their stats.
                            properties: &ref_94
                              clicks:
                                description: The number of links that were clicked in your emails.
                                type: integer
                              unique_clicks:
                                description: The number of unique recipients who clicked links in your emails.
                                type: integer
                            title: 'Stats: Advanced Stats with Clicks'
                            type: object
                            x-stoplight: &ref_95
                              id: advanced_stats_clicks
                              name: 'Stats: Advanced Stats with Clicks'
                              public: true
                          name:
                            description: The name of the specific segmentation.
                            type: string
                          type:
                            description: The type of segmentation.
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
          description: ''
      security:
        - Authorization: []
      summary: Retrieve email statistics by browser.
      tags:
        - Stats
      x-stoplight:
        id: GET_browsers-stats
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /campaigns:
    get:
      description: |-
        **This endpoint allows you to retrieve a list of all of your campaigns.**

        Returns campaigns in reverse order they were created (newest first).

        Returns an empty array if no campaigns exist.
      operationId: GET_campaigns
      parameters:
        - description: The number of results you would like to receive at a time.
          in: query
          name: limit
          schema:
            default: 10
            type: integer
        - description: The index of the first campaign to return, where 0 is the first campaign.
          in: query
          name: offset
          schema:
            default: 0
            type: integer
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - categories:
                          - spring line
                        custom_unsubscribe_url: ''
                        html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                        id: 986724
                        ip_pool: marketing
                        list_ids:
                          - 110
                          - 124
                        plain_content: Check out our spring line!
                        segment_ids:
                          - 110
                        sender_id: 124451
                        status: Draft
                        subject: New Products for Spring!
                        suppression_group_id: 42
                        title: March Newsletter
                      - categories:
                          - winter line
                        custom_unsubscribe_url: ''
                        html_content: <html><head><title></title></head><body><p>Last call for winter clothes!</p></body></html>
                        id: 986723
                        ip_pool: marketing
                        list_ids:
                          - 110
                          - 124
                        plain_content: Last call for winter clothes!
                        segment_ids:
                          - 110
                        sender_id: 124451
                        status: Sent
                        subject: Final Winter Product Sale!
                        suppression_group_id: 42
                        title: February Newsletter
              schema:
                properties:
                  result:
                    items:
                      allOf: &ref_30
                        - example: &ref_26
                            categories:
                              - summer line
                            custom_unsubscribe_url: ''
                            html_content: <html><head><title></title></head><body><p>Check out our summer line!</p></body></html>
                            id: 986724
                            ip_pool: marketing
                            list_ids:
                              - 110
                              - 124
                            plain_content: Check out our summer line!
                            segment_ids:
                              - 110
                            sender_id: 124451
                            status: Draft
                            subject: New Products for Summer!
                            suppression_group_id: 42
                            title: May Newsletter
                          properties: &ref_27
                            categories:
                              description: The categories you would like associated to this campaign.
                              items:
                                type: string
                              nullable: true
                              type: array
                            custom_unsubscribe_url:
                              description: This is the url of the custom unsubscribe page that you provide for customers to unsubscribe from your suppression groups.
                              nullable: true
                              type: string
                            editor:
                              description: The editor used in the UI.
                              enum:
                                - code
                                - design
                              type: string
                            html_content:
                              description: The HTML of your marketing email.
                              nullable: true
                              type: string
                            ip_pool:
                              description: The pool of IPs that you would like to send this email from.
                              nullable: true
                              type: string
                            list_ids:
                              description: The IDs of the lists you are sending this campaign to. You can have both segment IDs and list IDs
                              items:
                                type: integer
                              nullable: true
                              type: array
                            plain_content:
                              description: The plain text content of your emails.
                              nullable: true
                              type: string
                            segment_ids:
                              description: The segment IDs that you are sending this list to. You can have both segment IDs and list IDs. Segments are limited to 10 segment IDs.
                              items:
                                type: integer
                              nullable: true
                              type: array
                            sender_id:
                              description: The ID of the "sender" identity that you have created. Your recipients will see this as the "from" on your marketing emails.
                              nullable: true
                              type: integer
                            subject:
                              description: The subject of your campaign that your recipients will see.
                              nullable: true
                              type: string
                            suppression_group_id:
                              description: The suppression group that this marketing email belongs to, allowing recipients to opt-out of emails of this type.
                              nullable: true
                              type: integer
                            title:
                              description: The display title of your campaign. This will be viewable by you in the Marketing Campaigns UI.
                              type: string
                          required: &ref_28
                            - title
                          title: Campaigns Request
                          type: object
                          x-stoplight: &ref_29
                            id: campaign_request
                            name: Campaigns Request
                            public: true
                        - properties:
                            id:
                              type: integer
                            status:
                              description: The status of your campaign.
                              type: string
                          required:
                            - status
                          type: object
                      title: Campaigns Response
                      x-stoplight: &ref_31
                        id: campaign_response
                        name: Campaigns Response
                        public: true
                    type: array
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Retrieve all Campaigns
      tags:
        - Campaigns API
      x-stoplight:
        id: GET_campaigns
        mock:
          dynamic: false
        public: true
    post:
      description: |-
        **This endpoint allows you to create a campaign.**

        In order to send or schedule the campaign, you will be required to provide a subject, sender ID, content (we suggest both html and plain text), and at least one list or segment ID. This information is not required when you create a campaign.
      operationId: POST_campaigns
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      requestBody:
        content:
          application/json:
            schema:
              example: *ref_26
              properties: *ref_27
              required: *ref_28
              title: Campaigns Request
              type: object
              x-stoplight: *ref_29
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    categories:
                      - spring line
                    custom_unsubscribe_url: ''
                    html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                      - 124
                    plain_content: Check out our spring line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Spring!
                    suppression_group_id: 42
                    title: March Newsletter
              schema:
                allOf: *ref_30
                title: Campaigns Response
                x-stoplight: *ref_31
          description: ''
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: title
                        message: title can't be blank
                      - field: title
                        message: title is too long (maximum is 100 characters)
                      - field: categories
                        message: categories exceeds 10 category limit
                      - field: html_content
                        message: html_content exceeds the 1MB limit
                      - field: plain_content
                        message: plain_content exceeds the 1MB limit
                      - field: sender_id
                        message: sender_id does not exist
                      - field: sender_id
                        message: sender_id is not a verified sender identity
                      - field: list_ids
                        message: list_ids do not all exist
                      - field: segment_ids
                        message: segment_ids do not all exist
                      - field: ip_pool
                        message: The ip pool you provided is invalid
                      - field: suppression_group_id
                        message: suppression_group_id does not exist
                      - field: unsubscribes
                        message: Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.
                      - field: null
                        message: The JSON you have submitted cannot be parsed.
                      - field: null
                        message: You've reached your limit of 250 campaigns. Please delete one or more and try again.
              schema:
                example: *ref_0
                properties: *ref_1
                title: Global Error Response Schema
                type: object
                x-stoplight: *ref_2
          description: |-
            "title": "title can't be blank"
            "title": "title is too long (maximum is 100 characters)"
            "categories": "categories exceeds 10 category limit"
            "html_content": "html_content exceeds the 1MB limit"
            "plain_content": "plain_content exceeds the 1MB limit"
            "sender_id": "sender_id does not exist"
            "sender_id": "sender_id is not a verified sender identity"
            "list_ids": "list_ids do not all exist"
            "segment_ids": "segment_ids do not all exist"
            "ip_pool": "The ip pool you provided is invalid"
            "suppression_group_id": "suppression_group_id does not exist"
            "unsubscribes": "Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."
            "": "The JSON you have submitted cannot be parsed."
            "": "You've reached your limit of 250 campaigns. Please delete one or more and try again."
        '401':
          content:
            application/json:
              schema:
                type: object
          description: ''
      security:
        - Authorization: []
      summary: Create a Campaign
      tags:
        - Campaigns API
      x-stoplight:
        id: POST_campaigns
        mock:
          dynamic: false
        public: true
  /campaigns/{campaign_id}:
    delete:
      description: '**This endpoint allows you to delete a specific campaign.**'
      operationId: DELETE_campaigns-campaign_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '204':
          content:
            application/json:
              schema:
                nullable: true
          description: ''
        '401':
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: authorization required
              schema:
                type: object
          description: ''
        '404':
          content:
            application/json:
              schema:
                type: object
          description: '"": "not found"'
      security:
        - Authorization: []
      summary: Delete a Campaign
      tags:
        - Campaigns API
      x-stoplight:
        id: DELETE_campaigns-campaignid
        mock:
          dynamic: false
        public: true
    get:
      description: '**This endpoint allows you to retrieve a specific campaign.**'
      operationId: GET_campaigns-campaign_id
      parameters:
        - in: header
          name: on-behalf-of
          schema: *ref_3
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    categories:
                      - spring line
                    custom_unsubscribe_url: ''
                    html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                    plain_content: Check out our spring line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Spring!
[...]
