openapi: 3.0.0
info:
  title: Trello REST API
  version: 0.0.1
servers:
  - url: https://api.trello.com/1
security:
  - APIKey: []
    APIToken: []
paths:
  /actions/{idAction}/reactions:
    get:
      deprecated: false
      description: List reactions for an action
      operationId: get-actions-idaction-reactions
      parameters:
        - description: Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)
          in: query
          name: member
          required: false
          schema:
            default: true
            type: boolean
        - description: Whether to load the emoji as a nested resource.
          in: query
          name: emoji
          required: false
          schema:
            default: true
            type: boolean
      responses:
        '200':
          description: Success
      summary: Get Action's Reactions
      tags: []
    parameters:
      - description: The ID of the action
        in: path
        name: idAction
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    post:
      deprecated: false
      description: Adds a new reaction to an action
      operationId: post-actions-idaction-reactions
      requestBody:
        content:
          application/json:
            schema:
              properties:
                native:
                  description: The emoji to add as a native unicode emoji. See [/emoji](#emoji)
                  type: string
                shortName:
                  description: The primary `shortName` of the emoji to add. See [/emoji](#emoji)
                  type: string
                skinVariation:
                  description: The `skinVariation` of the emoji to add. See [/emoji](#emoji)
                  type: string
                unified:
                  description: The `unified` value of the emoji to add. See [/emoji](#emoji)
                  type: string
              type: object
      responses:
        '200':
          description: Success
      summary: Create Reaction for Action
      tags: []
  /actions/{idAction}/reactions/{id}:
    delete:
      deprecated: false
      description: Deletes a reaction
      operationId: delete-actions-idaction-reactions-id
      responses:
        '200':
          description: Success
      summary: Delete Action's Reaction
      tags: []
    get:
      deprecated: false
      description: Get information for a reaction
      operationId: get-actions-idaction-reactions-id
      parameters:
        - description: Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)
          in: query
          name: member
          required: false
          schema:
            default: true
            type: boolean
        - description: Whether to load the emoji as a nested resource.
          in: query
          name: emoji
          required: false
          schema:
            default: true
            type: boolean
      responses:
        '200':
          description: Success
      summary: Get Action's Reaction
      tags: []
    parameters:
      - description: The ID of the Action
        in: path
        name: idAction
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
      - description: The ID of the reaction
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
  /actions/{idAction}/reactionsSummary:
    get:
      deprecated: false
      description: List a summary of all reactions for an action
      operationId: get-actions-idaction-reactionsummary
      parameters:
        - description: The ID of the action
          in: path
          name: idAction
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: List Action's summary of Reactions
      tags: []
  /actions/{id}:
    delete:
      deprecated: false
      description: Delete a specific action. Only comment actions can be deleted.
      operationId: delete-actions-id
      responses:
        '200':
          description: Success
      summary: Delete an Action
      tags: []
    get:
      deprecated: false
      description: Get an Action
      operationId: get-actions-id
      parameters:
        - description: ''
          in: query
          name: display
          required: false
          schema:
            default: true
            type: boolean
        - description: ''
          in: query
          name: entities
          required: false
          schema:
            default: false
            type: boolean
        - description: '`all` or a comma-separated list of action [fields](/cloud/trello/guides/rest-api/object-definitions/#action-object)'
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: ''
          in: query
          name: member
          required: false
          schema:
            default: true
            type: boolean
        - description: '`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)'
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash,fullName,initials,username
            type: string
        - description: Whether to include the member object for the creator of the action
          in: query
          name: memberCreator
          required: false
          schema:
            default: true
            type: boolean
        - description: '`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)'
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash,fullName,initials,username
            type: string
      responses:
        '200':
          description: Success
      summary: Get an Action
      tags: []
    parameters:
      - description: The ID of the Action
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    put:
      deprecated: false
      description: Update a specific Action. Only comment actions can be updated. Used to edit the content of a comment.
      operationId: put-actions-id
      parameters:
        - description: The new text for the comment
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Update an Action
      tags: []
  /actions/{id}/board:
    get:
      deprecated: false
      description: Get the Board for an Action
      operationId: get-actions-id-board
      parameters:
        - description: The ID of the action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: '`all` or a comma-separated list of board fields'
          in: query
          name: fields
          required: false
          schema:
            enum: &ref_23
              - id
              - name
              - desc
              - descData
              - closed
              - idMemberCreator
              - idOrganization
              - pinned
              - url
              - shortUrl
              - prefs
              - labelNames
              - starred
              - limits
              - memberships
              - enterpriseOwned
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: &ref_6
                  closed:
                    example: false
                    type: boolean
                  creationMethod:
                    nullable: true
                    type: string
                  dateLastActivity:
                    format: date
                    type: string
                  dateLastView:
                    format: date
                    type: string
                  datePluginDisable:
                    format: date
                    nullable: true
                    type: string
                  desc:
                    example: Track changes to Trello's Platform on this board.
                    type: string
                  descData:
                    type: string
                  enterpriseOwned:
                    type: boolean
                  id:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idMemberCreator:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idOrganization:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idTags:
                    type: string
                  ixUpdate:
                    type: integer
                  labelNames:
                    properties:
                      black:
                        example: Capabilties
                        type: string
                      blue:
                        example: News
                        type: string
                      green:
                        example: Addition
                        type: string
                      lime:
                        example: Delight
                        type: string
                      orange:
                        example: Deprecation
                        type: string
                      pink:
                        example: REST API
                        type: string
                      purple:
                        example: Power-Ups
                        type: string
                      red:
                        example: Deletion
                        type: string
                      sky:
                        example: Announcement
                        type: string
                      yellow:
                        example: Update
                        type: string
                    type: object
                  limits:
                    type: object
                    properties: &ref_1
                      attachments:
                        properties:
                          perBoard:
                            type: object
                            properties: &ref_2
                              disableAt:
                                example: 36000
                                type: number
                              status:
                                enum:
                                  - ok
                                  - warning
                                type: string
                              warnAt:
                                example: 32400
                                type: number
                        type: object
                  memberships:
                    type: string
                  name:
                    description: The name of the board.
                    example: Trello Platform Changes
                    type: string
                  pinned:
                    example: false
                    type: boolean
                  powerUps:
                    type: string
                  prefs:
                    properties: &ref_58
                      background:
                        example: 5abbe4b7ddc1b351ef961414
                        pattern: ^[0-9a-fA-F]{24}$
                        type: string
                      backgroundBottomColor:
                        example: '#1e2e00'
                        type: string
                      backgroundBrightness:
                        example: dark
                        type: string
                      backgroundImage:
                        format: uri
                        type: string
                      backgroundImageScaled:
                        items:
                          properties: &ref_53
                            height:
                              description: The height of the image.
                              example: 64
                              type: integer
                            url:
                              description: The URL of the image.
                              example: https://trello-backgrounds.s3.amazonaws.com/SharedBackground/100x64/abc/photo-123.jpg
                              format: url
                              type: string
                            width:
                              description: The width of the image.
                              example: 100
                              type: integer
                          type: object
                        type: array
                      backgroundTile:
                        type: boolean
                      backgroundTopColor:
                        example: '#ffffff'
                        type: string
                      calendarFeedEnabled:
                        type: boolean
                      canBeEnterprise:
                        type: boolean
                      canBeOrg:
                        type: boolean
                      canBePrivate:
                        type: boolean
                      canBePublic:
                        type: boolean
                      canInvite:
                        type: boolean
                      cardAging:
                        enum: &ref_44
                          - pirate
                          - regular
                        type: string
                      cardCovers:
                        type: boolean
                      comments:
                        type: string
                      hideVotes:
                        type: boolean
                      invitations:
                        enum:
                          - admins
                          - members
                      isTemplate:
                        type: boolean
                      permissionLevel:
                        enum:
                          - org
                          - board
                        type: string
                      selfJoin:
                        type: boolean
                      voting:
                        enum:
                          - disabled
                          - enabled
                        type: string
                    type: object
                  shortLink:
                    type: string
                  shortUrl:
                    example: https://trello.com/b/dQHqCohZ
                    format: url
                    type: string
                  starred:
                    type: boolean
                  subscribed:
                    type: boolean
                  templateGallery:
                    nullable: true
                    type: string
                  url:
                    example: https://trello.com/b/dQHqCohZ/trello-platform-changelog
                    format: url
                    type: string
                required: &ref_7
                  - id
                type: object
          description: Success
      summary: Get the Board for an Action
      tags: []
  /actions/{id}/card:
    get:
      deprecated: false
      description: Get the card for an action
      operationId: get-actions-id-card
      parameters:
        - description: The ID of the action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: '`all` or a comma-separated list of card fields'
          in: query
          name: fields
          required: false
          schema:
            default: all
            description: The fields on a Card.
            enum: &ref_17
              - id
              - address
              - badges
              - checkItemStates
              - closed
              - coordinates
              - creationMethod
              - dueComplete
              - dateLastActivity
              - desc
              - descData
              - due
              - dueReminder
              - email
              - idBoard
              - idChecklists
              - idLabels
              - idList
              - idMembers
              - idMembersVoted
              - idShort
              - idAttachmentCover
              - labels
              - limits
              - locationName
              - manualCoverAttachment
              - name
              - pos
              - shortLink
              - shortUrl
              - subscribed
              - url
              - cover
              - isTemplate
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: &ref_14
                  address:
                    nullable: true
                    type: string
                  badges:
                    properties:
                      attachments:
                        example: 0
                        type: integer
                      attachmentsByType:
                        properties:
                          trello:
                            properties:
                              board:
                                type: number
                              card:
                                type: number
                            type: object
                        type: object
                      checkItems:
                        example: 0
                        type: integer
                      checkItemsChecked:
                        example: 0
                        type: integer
                      comments:
                        example: 0
                        type: integer
                      description:
                        type: boolean
                      due:
                        format: date
                        nullable: true
                        type: string
                      dueComplete:
                        type: boolean
                      fogbugz:
                        type: string
                      location:
                        type: boolean
                      start:
                        format: date
                        nullable: true
                        type: string
                      subscribed:
                        example: false
                        type: boolean
                      viewingMemberVoted:
                        example: false
                        type: boolean
                      votes:
                        type: integer
                    type: object
                  checkItemStates:
                    items:
                      oneOf:
                        - type: string
                    type: array
                  closed:
                    type: boolean
                  coordinates:
                    nullable: true
                    type: string
                  cover:
                    properties:
                      brightness:
                        enum:
                          - light
                          - dark
                        type: string
                      color:
                        nullable: true
                        enum: &ref_0
                          - yellow
                          - purple
                          - blue
                          - red
                          - green
                          - orange
                          - black
                          - sky
                          - pink
                          - lime
                        type: string
                      idAttachment:
                        nullable: true
                        type: string
                        example: 5abbe4b7ddc1b351ef961414
                        pattern: ^[0-9a-fA-F]{24}$
                      idUploadedBackground:
                        nullable: true
                        type: boolean
                      isTemplate:
                        example: false
                        type: boolean
                      size:
                        enum:
                          - normal
                        type: string
                    type: object
                  creationMethod:
                    nullable: true
                    type: string
                  dateLastActivity:
                    example: '2019-09-16T16:19:17.156Z'
                    format: date-time
                    type: string
                  desc:
                    example: |-
                      👋Hey there,

                      Trello's Platform team uses this board to keep developers up-to-date.
                    type: string
                  descData:
                    properties:
                      emoji:
                        type: object
                    type: object
                  due:
                    format: date
                    nullable: true
                    type: string
                  dueReminder:
                    nullable: true
                    type: string
                  email:
                    example: bentleycook+2kea95u7kchsvqnxkwe+2q0byi6qv4pt9uc7q5m+25qyyohtzg@boards.trello.com
                    format: email
                    type: string
                  id:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idAttachmentCover:
                    example: 5abbe4b7ddc1b351ef961415
                    nullable: true
                    type: string
                    pattern: ^[0-9a-fA-F]{24}$
                  idBoard:
                    example: 5abbe4b7ddc1b351ef961414
                    type: string
                    pattern: ^[0-9a-fA-F]{24}$
                  idChecklists:
                    items:
                      oneOf:
                        - properties: &ref_46
                            id:
                              example: 5abbe4b7ddc1b351ef961414
                              pattern: ^[0-9a-fA-F]{24}$
                              type: string
                          type: object
                        - example: 5abbe4b7ddc1b351ef961414
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                    type: array
                  idLabels:
                    items:
                      oneOf:
                        - properties: &ref_10
                            color:
                              description: The color of the label. Null means no color and the label will not be shown on the front of Cards.
                              type: string
                              enum: *ref_0
                              nullable: true
                            id:
                              description: The ID of the label.
                              type: string
                              example: 5abbe4b7ddc1b351ef961414
                              pattern: ^[0-9a-fA-F]{24}$
                            idBoard:
                              description: The ID of the board the label is on.
                              example: 5abbe4b7ddc1b351ef961414
                              type: string
                              pattern: ^[0-9a-fA-F]{24}$
                            name:
                              description: The name displayed for the label.
                              example: Overdue
                              maxLength: 16384
                              minLength: 0
                              nullable: true
                              type: string
                          type: object
                        - example: 5abbe4b7ddc1b351ef961414
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                    type: array
                  idList:
                    example: 5abbe4b7ddc1b351ef961415
                    type: string
                    pattern: ^[0-9a-fA-F]{24}$
                  idMembers:
                    items:
                      oneOf:
                        - example: 5abbe4b7ddc1b351ef961414
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                    type: array
                  idMembersVoted:
                    items:
                      oneOf:
                        - example: 5abbe4b7ddc1b351ef961414
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                    type: array
                  idShort:
                    type: integer
                  labels:
                    items:
                      oneOf:
                        - example: 5abbe4b7ddc1b351ef961414
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                    type: array
                  limits:
                    type: object
                    properties: *ref_1
                  locationName:
                    nullable: true
                    type: string
                  manualCoverAttachment:
                    example: false
                    type: boolean
                  name:
                    example: 👋 What? Why? How?
                    type: string
                  pos:
                    example: 65535
                    format: float
                    type: number
                  shortLink:
                    example: H0TZyzbK
                    type: string
                  shortUrl:
                    example: https://trello.com/c/H0TZyzbK
                    format: url
                    type: string
                  subscribed:
                    example: false
                    type: boolean
                  url:
                    example: https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how
                    format: url
                    type: string
                type: object
          description: Success
      summary: Get the Card for an Action
      tags: []
  /actions/{id}/list:
    get:
      deprecated: false
      description: Get the List for an Action
      operationId: get-actions-id-list
      parameters:
        - description: The ID of the action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: '`all` or a comma-separated list of list fields'
          in: query
          name: fields
          required: false
          schema:
            default: all
            enum: &ref_34
              - id
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: &ref_12
                  closed:
                    type: boolean
                  id:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idBoard:
                    type: string
                  limits:
                    properties: *ref_1
                    type: object
                  name:
                    description: The name of the list
                    example: Things to buy today
                    type: string
                  pos:
                    type: number
                  softLimit:
                    type: string
                  subscribed:
                    type: boolean
                type: object
          description: Success
      summary: Get the List for an Action
      tags: []
  /actions/{id}/member:
    get:
      deprecated: false
      description: Gets the member of an action (not the creator)
      operationId: get-actions-id-member
      parameters:
        - description: The ID of the Action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: '`all` or a comma-separated list of member fields'
          in: query
          name: fields
          required: false
          schema:
            default: all
            enum: &ref_3
              - id
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: &ref_4
                  aaEmail:
                    example: null
                    format: email
                    nullable: true
                    type: string
                  aaEnrolledDate:
                    example: null
                    nullable: true
                    type: string
                  aaId:
                    example: null
                    nullable: true
                    type: string
                  activityBlocked:
                    example: false
                    type: boolean
                  avatarHash:
                    example: fc8faaaee46666a4eb8b626c08933e16
                    type: string
                  avatarSource:
                    enum:
                      - gravatar
                      - upload
                    example: gravatar
                    type: string
                  avatarUrl:
                    example: https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16
                    format: url
                    type: string
                  bio:
                    example: 👋 I'm a developer advocate at Trello!
                    type: string
                  bioData:
                    properties:
                      emoji:
                        type: object
                    type: object
                  confirmed:
                    example: true
                    type: boolean
                  email:
                    example: bcook@atlassian.com
                    type: string
                  fullName:
                    example: Bentley Cook
                    type: string
                  gravatarHash:
                    example: 0a1e804f6e35a65ae5e1f7ef4c92471c
                    type: string
                  id:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idBoards:
                    items:
                      example: 5abbe4b7ddc1b351ef961414
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                    type: array
                  idBoardsPinned:
                    items:
                      example: 5abbe4b7ddc1b351ef961414
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                    nullable: true
                    type: array
                  idEnterprise:
                    type: string
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                  idEnterprisesAdmin:
                    items:
                      example: 5abbe4b7ddc1b351ef961414
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                    type: array
                  idEnterprisesDeactivated:
                    items:
                      type: string
                    type: array
                  idMemberReferrer:
                    example: null
                    nullable: true
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                  idOrganizations:
                    items:
                      example: 5abbe4b7ddc1b351ef961414
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                    type: array
                  idPremOrgsAdmin:
                    items:
                      example: 5abbe4b7ddc1b351ef961414
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                    type: array
                  initials:
                    example: BC
                    type: string
                  isAaMastered:
                    example: false
                    type: boolean
                  ixUpdate:
                    example: '48427'
                    type: number
                  limits:
                    properties: *ref_2
                    type: object
                  loginTypes:
                    items:
                      enum:
                        - password
                        - saml
                      example: password
                      type: string
                    type: array
                  marketingOptIn:
                    properties:
                      date:
                        example: '2018-04-26T17:03:25.155Z'
                        format: date
                        type: string
                      optedIn:
                        example: false
                        type: boolean
                    type: object
                  memberType:
                    enum:
                      - normal
                      - ghost
                    example: normal
                    type: string
                  messagesDismissed:
                    properties:
                      _id:
                        example: 5995d44573d197eada632a32
                        pattern: ^[0-9a-fA-F]{24}$
                        type: string
                      count:
                        example: 4
                        type: string
                      lastDismissed:
                        example: '2019-03-11T20:19:46.809Z'
                        format: date
                        type: string
                      name:
                        example: ad-security-features
                        type: string
                    type: object
                  nonPublic:
                    description: |
                      Profile data with restricted visibility. These fields are visible only to members of the
                      same organization. The values here (full name, for example) may differ from the values
                      at the top level of the response.
                    properties:
                      avatarHash:
                        example: db2adf80c2e6c26b76e1f10400eb4c45
                        type: string
                      avatarUrl:
                        description: A URL that references the non-public avatar for the member
                        example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
                        format: url
                        type: string
                      fullName:
                        example: Bentley Cook
                        type: string
                      initials:
                        example: BC
                        type: string
                    type: object
                  nonPublicAvailable:
                    description: Whether the response contains non-public profile data for the member
                    example: false
                    type: boolean
                  oneTimeMessagesDismissed:
                    items:
                      type: string
                    type: array
                  prefs:
                    properties: &ref_54
                      colorBlind:
                        example: true
                        type: boolean
                      locale:
                        example: en-AU
                        type: string
                      minutesBeforeDeadlineToNotify:
                        example: 1440
                        type: integer
                      minutesBetweenSummaries:
                        example: 60
                        type: integer
                      privacy:
                        properties:
                          avatar:
                            enum:
                              - public
                              - private
                              - collaborator
                            example: public
                            type: string
                          fullName:
                            enum:
                              - public
                              - private
                              - collaborator
                            example: public
                            type: string
                        type: object
                      sendSummaries:
                        example: true
                        type: boolean
                      timezone:
                        example: America/Chicago
                        type: string
                      timezoneInfo:
                        properties:
                          dateNext:
                            example: '2020-03-08T08:00:00.000Z'
                            format: date
                            type: string
                          offsetCurrent:
                            example: 360
                            type: integer
                          offsetNext:
                            example: 300
                            type: integer
                          timezoneCurrent:
                            example: CST
                            type: string
                          timezoneNext:
                            example: CDT
                            type: string
                        type: object
                      twoFactor:
                        properties:
                          enabled:
                            example: true
                            type: boolean
                          needsNewBackups:
                            example: false
                            type: boolean
                        type: object
                    type: object
                  premiumFeatures:
                    items:
                      type: string
                    type: array
                  products:
                    items:
                      type: integer
                    type: array
                  status:
                    enum:
                      - disconnected
                    example: disconnected
                    type: string
                  trophies:
                    items:
                      type: string
                    type: array
                  uploadedAvatarHash:
                    example: dac3ad49ff117829dd63a79bb2ea3426
                    type: string
                  uploadedAvatarUrl:
                    example: https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426
                    format: url
                    type: string
                  url:
                    example: https://trello.com/bentleycook
                    format: url
                    type: string
                  username:
                    example: bentleycook
                    type: string
                type: object
          description: Success
      summary: Get the Member of an Action
      tags: []
  /actions/{id}/memberCreator:
    get:
      deprecated: false
      description: Get the Member who created the Action
      operationId: get-actions-id-membercreator
      parameters:
        - description: The ID of the Action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: '`all` or a comma-separated list of member fields'
          in: query
          name: fields
          required: false
          schema:
            default: all
            enum: *ref_3
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: *ref_4
                type: object
          description: Success
      summary: Get the Member Creator of an Action
      tags: []
  /actions/{id}/organization:
    get:
      deprecated: false
      description: Get the Organization of an Action
      operationId: get-actions-id-organization
      parameters:
        - description: The ID of the action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: '`all` or a comma-separated list of organization fields'
          in: query
          name: fields
          required: false
          schema:
            default: all
            enum: &ref_22
              - id
              - name
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: &ref_19
                  id:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                type: object
          description: Success
      summary: Get the Organization of an Action
      tags: []
  /actions/{id}/text:
    put:
      deprecated: false
      description: Update a comment action
      operationId: put-actions-id-text
      parameters:
        - description: The ID of the action to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: The new text for the comment
          in: query
          name: value
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Update a Comment Action
      tags: []
  /actions/{id}/{field}:
    get:
      deprecated: false
      description: Get a specific property of an action
      operationId: get-actions-id-field
      parameters:
        - description: The ID of the Action
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: An action field
          in: path
          name: field
          required: true
          schema:
            enum: &ref_42
              - id
              - idMemberCreator
              - data
              - type
              - date
              - limits
              - display
              - memberCreator
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: &ref_5
                  data:
                    properties:
                      board:
                        properties:
                          id:
                            type: string
                            example: 5abbe4b7ddc1b351ef961414
                            pattern: ^[0-9a-fA-F]{24}$
                          name:
                            example: Mullets
                            type: string
                          shortLink:
                            example: 3CsPkqOF
                            type: string
                        type: object
                      card:
                        properties:
                          id:
                            type: string
                            example: 5abbe4b7ddc1b351ef961414
                            pattern: ^[0-9a-fA-F]{24}$
                          idShort:
                            example: 7
                            type: integer
                          name:
                            example: Bowie
                            type: string
                          shortLink:
                            example: 3CsPkqOF
                            type: string
                        type: object
                      list:
                        properties:
                          id:
                            type: string
                            example: 5abbe4b7ddc1b351ef961414
                            pattern: ^[0-9a-fA-F]{24}$
                          name:
                            example: Amazing
                            type: string
                        type: object
                      text:
                        example: Can never go wrong with bowie
                        type: string
                    type: object
                  date:
                    example: '2020-03-09T19:41:51.396Z'
                    format: date-time
                    type: string
                  display:
                    properties:
                      entities:
                        properties:
                          card:
                            properties:
                              hideIfContext:
                                type: boolean
                              id:
                                type: string
                                example: 5abbe4b7ddc1b351ef961414
                                pattern: ^[0-9a-fA-F]{24}$
                              shortLink:
                                example: 3CsPkqOF
                                type: string
                              text:
                                example: Bowie
                                type: string
                              type:
                                example: card
                                type: string
                            type: object
                          comment:
                            properties:
                              text:
                                example: Can never go wrong with bowie
                                type: string
                              type:
                                example: comment
                                type: string
                            type: object
                          contextOn:
                            properties:
                              hideIfContext:
                                type: boolean
                              idContext:
                                type: string
                                example: 5abbe4b7ddc1b351ef961414
                                pattern: ^[0-9a-fA-F]{24}$
                              translationKey:
                                example: action_on
                                type: string
                              type:
                                example: translatable
                                type: string
                            type: object
                          memberCreator:
                            properties:
                              id:
                                example: 5abbe4b7ddc1b351ef961414
                                pattern: ^[0-9a-fA-F]{24}$
                                type: string
                              text:
                                example: Bob Loblaw (World)
                                type: string
                              type:
                                example: member
                                type: string
                              username:
                                example: bobloblaw
                                type: string
                            type: object
                        type: object
                      translationKey:
                        example: action_comment_on_card
                        type: string
                    type: object
                  id:
                    type: string
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                  idMemberCreator:
                    type: string
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                  limits:
                    properties:
                      reactions:
                        properties:
                          perAction:
                            properties:
                              disableAt:
                                example: 1000
                                type: number
                              status:
                                example: ok
                                type: string
                              warnAt:
                                example: 900
                                type: number
                            type: object
                          uniquePerAction:
                            properties:
                              disableAt:
                                example: 1000
                                type: number
                              status:
                                example: ok
                                type: string
                              warnAt:
                                example: 900
                                type: number
                            type: object
                        type: object
                    type: object
                  memberCreator:
                    properties:
                      activityBlocked:
                        example: false
                        type: boolean
                      avatarHash:
                        example: db2adf80c2e6c26b76e1f10400eb4c45
                        type: string
                      avatarUrl:
                        example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
                        format: url
                        type: string
                      fullName:
                        example: Bob Loblaw (Trello)
                        type: string
                      id:
                        example: 5b02e7f4e1facdc393169f9d
                        type: string
                        pattern: ^[0-9a-fA-F]{24}$
                      idMemberReferrer:
                        example: null
                        nullable: true
                        type: string
                        pattern: ^[0-9a-fA-F]{24}$
                      initials:
                        example: BL
                        type: string
                      username:
                        example: bobloblaw
                        type: string
                    type: object
                  type:
                    example: commentCard
                    type: string
                type: object
          description: Success
      summary: Get a specific field on an Action
      tags: []
  /applications/{key}/compliance:
    get:
      deprecated: false
      description: ''
      operationId: applications-key-compliance
      responses:
        '200':
          description: Success
      summary: Get Application's compliance data
      tags: []
    parameters:
      - in: path
        name: key
        required: true
        schema:
          type: string
  /batch:
    get:
      deprecated: false
      description: Make up to 10 GET requests in a single, batched API call.
      operationId: get-batch
      parameters:
        - description: A list of API routes. Maximum of 10 routes allowed. The routes should begin with a forward slash and should not include the API version number - e.g. "urls=/members/trello,/cards/[cardId]"
          in: query
          name: urls
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Batch Requests
      tags: []
  /boards/:
    post:
      deprecated: false
      description: Create a new board.
      operationId: post-boards
      parameters:
        - description: The new name for the board. 1 to 16384 characters long.
          in: query
          name: name
          required: true
          schema:
            maxLength: 16384
            minLength: 1
            type: string
        - description: Determines whether to use the default set of labels.
          in: query
          name: defaultLabels
          required: false
          schema:
            default: true
            type: boolean
        - description: Determines whether to add the default set of lists to a board (To Do, Doing, Done). It is ignored if `idBoardSource` is provided.
          in: query
          name: defaultLists
          required: false
          schema:
            default: true
            type: boolean
        - description: A new description for the board, 0 to 16384 characters long
          in: query
          name: desc
          required: false
          schema:
            maxLength: 16384
            minLength: 0
            type: string
        - description: The id or name of the Workspace the board should belong to.
          in: query
          name: idOrganization
          required: false
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: The id of a board to copy into the new board.
          in: query
          name: idBoardSource
          required: false
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: To keep cards from the original board pass in the value `cards`
          in: query
          name: keepFromSource
          required: false
          schema:
            default: none
            enum:
              - cards
              - none
            type: string
        - description: 'The Power-Ups that should be enabled on the new board. One of: `all`, `calendar`, `cardAging`, `recap`, `voting`.'
          in: query
          name: powerUps
          required: false
          schema:
            enum:
              - all
              - calendar
              - cardAging
              - recap
              - voting
            type: string
        - description: 'The permissions level of the board. One of: `org`, `private`, `public`.'
          in: query
          name: prefs_permissionLevel
          required: false
          schema:
            default: private
            enum:
              - org
              - private
              - public
            type: string
        - description: Who can vote on this board. One of `disabled`, `members`, `observers`, `org`, `public`.
          in: query
          name: prefs_voting
          required: false
          schema:
            default: disabled
            enum:
              - disabled
              - members
              - observers
              - org
              - public
            type: string
        - description: 'Who can comment on cards on this board. One of: `disabled`, `members`, `observers`, `org`, `public`.'
          in: query
          name: prefs_comments
          required: false
          schema:
            default: members
            enum:
              - disabled
              - members
              - observers
              - org
              - public
            type: string
        - description: 'Determines what types of members can invite users to join. One of: `admins`, `members`.'
          in: query
          name: prefs_invitations
          required: false
          schema:
            default: members
            enum:
              - members
              - admins
            type: string
        - description: Determines whether users can join the boards themselves or whether they have to be invited.
          in: query
          name: prefs_selfJoin
          required: false
          schema:
            default: true
            type: boolean
        - description: Determines whether card covers are enabled.
          in: query
          name: prefs_cardCovers
          required: false
          schema:
            default: true
            type: boolean
        - description: 'The id of a custom background or one of: `blue`, `orange`, `green`, `red`, `purple`, `pink`, `lime`, `sky`, `grey`.'
          in: query
          name: prefs_background
          required: false
          schema:
            default: blue
            enum:
              - blue
              - orange
              - green
              - red
              - purple
              - pink
              - lime
              - sky
              - grey
            type: string
        - description: 'Determines the type of card aging that should take place on the board if card aging is enabled. One of: `pirate`, `regular`.'
          in: query
          name: prefs_cardAging
          required: false
          schema:
            default: regular
            enum:
              - pirate
              - regular
            type: string
      responses:
        '200':
          description: Success
      summary: Create a Board
      tags: []
  /boards/{boardId}/actions:
    get:
      deprecated: false
      description: ''
      operationId: get-boards-id-actions
      parameters:
        - description: ''
          in: path
          name: boardId
          required: true
          schema:
            type: string
        - description: The fields to be returned for the Actions. [See Action fields here](/cloud/trello/guides/rest-api/object-definitions/#action-object).
          in: query
          name: fields
          required: false
          schema:
            properties: *ref_5
            type: object
        - description: A comma-separated list of [action types](/cloud/trello/guides/rest-api/action-types/).
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: The format of the returned Actions. Either list or count.
          in: query
          name: format
          required: false
          schema:
            default: list
            type: string
        - description: A comma-separated list of idModels. Only actions related to these models will be returned.
          in: query
          name: idModels
          required: false
          schema:
            type: string
        - description: The limit of the number of responses, between 0 and 1000.
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: Whether to return the member object for each action.
          in: query
          name: member
          required: false
          schema:
            default: true
            type: boolean
        - description: The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) to return.
          in: query
          name: member_fields
          required: false
          schema:
            default: activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username
            type: string
        - description: Whether to return the memberCreator object for each action.
          in: query
          name: memberCreator
          required: false
          schema:
            default: true
            type: boolean
        - description: The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) creator to return
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username
            type: string
        - description: The page of results for actions.
          in: query
          name: page
          required: false
          schema:
            default: 0
            type: number
        - description: Whether to show reactions on comments or not.
          in: query
          name: reactions
          required: false
          schema:
            type: boolean
        - description: An Action ID
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: An Action ID
          in: query
          name: since
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Get Actions of a Board
      tags: []
  /boards/{boardId}/boardStars:
    get:
      deprecated: false
      description: ''
      operationId: get-boards-id-boardstars
      parameters:
        - description: ''
          in: path
          name: boardId
          required: true
          schema:
            type: string
        - description: 'Valid values: mine, none'
          in: query
          name: filter
          required: false
          schema:
            default: mine
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  oneOf:
                    - properties: &ref_26
                        id:
                          example: 585063850027165010be15a8
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                        idBoard:
                          example: 57f7df684f1ca8c2877162e0
                          pattern: ^[0-9a-fA-F]{24}$
                          type: string
                        pos:
                          example: 32768
                          type: integer
                      type: object
                type: array
          description: Success
      summary: Get boardStars on a Board
      tags: []
  /boards/{id}:
    delete:
      deprecated: false
      description: Delete a board.
      operationId: delete-boards-id
      parameters:
        - description: The id of the board to delete
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Delete a Board
      tags: []
    get:
      deprecated: false
      description: Request a single board.
      operationId: get-boards-id
      parameters:
        - description: This is a nested resource. Read more about actions as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: actions
          required: false
          schema:
            default: all
            type: string
        - description: 'Valid values are one of: `mine` or `none`.'
          in: query
          name: boardStars
          required: false
          schema:
            default: none
            type: string
        - description: This is a nested resource. Read more about cards as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: Use with the `cards` param to include card pluginData with the response
          in: query
          name: card_pluginData
          required: false
          schema:
            default: false
            type: boolean
        - description: This is a nested resource. Read more about checklists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: This is a nested resource. Read more about custom fields as nested resources [here](#custom-fields-nested-resource).
          in: query
          name: customFields
          required: false
          schema:
            default: false
            type: boolean
        - description: 'The fields of the board to be included in the response. Valid values: all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url'
          in: query
          name: fields
          required: false
          schema:
            default: name,desc,descData,closed,idOrganization,pinned,url,shortUrl,prefs,labelNames
            type: string
        - description: This is a nested resource. Read more about labels as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: labels
          required: false
          schema:
            type: string
        - description: This is a nested resource. Read more about lists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: lists
          required: false
          schema:
            default: open
            type: string
        - description: This is a nested resource. Read more about members as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: members
          required: false
          schema:
            default: none
            type: string
        - description: This is a nested resource. Read more about memberships as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: memberships
          required: false
          schema:
            default: none
            type: string
        - description: 'Determines whether the pluginData for this board should be returned. Valid values: true or false.'
          in: query
          name: pluginData
          required: false
          schema:
            default: false
            type: boolean
        - description: This is a nested resource. Read more about organizations as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: organization
          required: false
          schema:
            default: false
            type: boolean
        - description: Use with the `organization` param to include organization pluginData with the response
          in: query
          name: organization_pluginData
          required: false
          schema:
            default: false
            type: boolean
        - description: ''
          in: query
          name: myPrefs
          required: false
          schema:
            default: false
            type: boolean
        - description: Also known as collections, tags, refer to the collection(s) that a Board belongs to.
          in: query
          name: tags
          required: false
          schema:
            default: false
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: *ref_6
                required: *ref_7
                type: object
          description: Success
        '401':
          content: &ref_20
            application/json:
              schema:
                properties: &ref_8
                  code:
                    type: string
                  message:
                    type: string
                required: &ref_9
                  - code
                  - message
                type: object
          description: Unauthorized
        '404':
          content: &ref_21
            application/json:
              schema:
                properties: *ref_8
                required: *ref_9
                type: object
          description: The specified resource was not found
        default:
          content:
            application/json:
              schema:
                properties: *ref_8
                required: *ref_9
                type: object
          description: Unexpected error
      summary: Get a Board
      tags: []
    parameters:
      - description: ''
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    put:
      deprecated: false
      description: Update an existing board by id
      operationId: put-boards-id
      parameters:
        - description: The new name for the board. 1 to 16384 characters long.
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: A new description for the board, 0 to 16384 characters long
          in: query
          name: desc
          required: false
          schema:
            type: string
        - description: Whether the board is closed
          in: query
          name: closed
          required: false
          schema:
            type: boolean
        - description: Whether the acting user is subscribed to the board
          explode: false
          in: query
          name: subscribed
          required: false
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
          style: form
        - description: The id of the Workspace the board should be moved to
          in: query
          name: idOrganization
          required: false
          schema:
            type: string
        - description: 'One of: org, private, public'
          in: query
          name: prefs/permissionLevel
          required: false
          schema:
            type: string
        - description: Whether Workspace members can join the board themselves
          in: query
          name: prefs/selfJoin
          required: false
          schema:
            type: boolean
        - description: Whether card covers should be displayed on this board
          in: query
          name: prefs/cardCovers
          required: false
          schema:
            type: boolean
        - description: Determines whether the Voting Power-Up should hide who voted on cards or not.
          in: query
          name: prefs/hideVotes
          required: false
          schema:
            type: boolean
        - description: 'Who can invite people to this board. One of: admins, members'
          in: query
          name: prefs/invitations
          required: false
          schema:
            type: string
        - description: Who can vote on this board. One of disabled, members, observers, org, public
          in: query
          name: prefs/voting
          required: false
          schema:
            type: string
        - description: 'Who can comment on cards on this board. One of: disabled, members, observers, org, public'
          in: query
          name: prefs/comments
          required: false
          schema:
            type: string
        - description: 'The id of a custom background or one of: blue, orange, green, red, purple, pink, lime, sky, grey'
          in: query
          name: prefs/background
          required: false
          schema:
            type: string
        - description: 'One of: pirate, regular'
          in: query
          name: prefs/cardAging
          required: false
          schema:
            type: string
        - description: Determines whether the calendar feed is enabled or not.
          in: query
          name: prefs/calendarFeedEnabled
          required: false
          schema:
            type: boolean
        - description: Name for the green label. 1 to 16384 characters long
          in: query
          name: labelNames/green
          required: false
          schema:
            type: string
        - description: Name for the yellow label. 1 to 16384 characters long
          in: query
          name: labelNames/yellow
          required: false
          schema:
            type: string
        - description: Name for the orange label. 1 to 16384 characters long
          in: query
          name: labelNames/orange
          required: false
          schema:
            type: string
        - description: Name for the red label. 1 to 16384 characters long
          in: query
          name: labelNames/red
          required: false
          schema:
            type: string
        - description: Name for the purple label. 1 to 16384 characters long
          in: query
          name: labelNames/purple
          required: false
          schema:
            type: string
        - description: Name for the blue label. 1 to 16384 characters long
          in: query
          name: labelNames/blue
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Update a Board
      tags: []
  /boards/{id}/boardPlugins:
    get:
      deprecated: false
      description: Get the enabled Power-Ups on a board
      operationId: get-boards-id-boardplugins
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties: &ref_13
                    id:
                      example: 5abbe4b7ddc1b351ef961414
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                  type: object
                type: array
          description: Success
      summary: Get Enabled Power-Ups on Board
      tags: []
    parameters:
      - description: The ID of the Board
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    post:
      deprecated: true
      description: Enable a Power-Up on a Board
      operationId: post-boards-id-boardplugins
      parameters:
        - description: The ID of the Power-Up to enable
          in: query
          name: idPlugin
          required: false
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: Enable a Power-Up on a Board
      tags: []
  /boards/{id}/boardPlugins/{idPlugin}:
    delete:
      deprecated: true
      description: Disable a Power-Up on a board
      operationId: delete-boards-id-boardplugins
      parameters:
        - description: The ID of the board
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: The ID of the Power-Up to disable
          in: path
          name: idPlugin
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: Disable a Power-Up on a Board
      tags: []
  /boards/{id}/calendarKey/generate:
    post:
      deprecated: false
      description: Create a new board.
      operationId: post-boards-id-calendarkey-generate
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: Create a calendarKey for a Board
      tags: []
  /boards/{id}/cards:
    get:
      deprecated: false
      description: Get all of the open Cards on a Board.
      operationId: get-boards-id-cards
      parameters:
        - description: ''
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Get Cards on a Board
      tags: []
  /boards/{id}/cards/{filter}:
    get:
      deprecated: false
      description: Get the Cards on a Board that match a given filter.
      operationId: get-boards-id-cards-filter
      parameters:
        - description: ID of the Board
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: 'Valid Values: all, closed, none, open, visible.'
          in: path
          name: filter
          required: true
          schema:
            enum:
              - all
              - closed
              - none
              - open
              - visible
            type: string
      responses:
        '200':
          description: Success
      summary: Get filtered Cards on a Board
      tags: []
  /boards/{id}/cards/{idCard}:
    get:
      deprecated: false
      description: Get a single Card on a Board.
      operationId: get-boards-id-cards-idcard
      parameters:
        - description: The ID of the board
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The id the card to retrieve.
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: The fields to be returned for the Actions. [See Action fields here](/cloud/trello/guides/rest-api/object-definitions/#action-object).
          in: query
          name: fields
          required: false
          schema:
            properties: *ref_5
            type: object
        - description: A comma-separated list of [action types](/cloud/trello/guides/rest-api/action-types/).
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: The format of the returned Actions. Either list or count.
          in: query
          name: format
          required: false
          schema:
            default: list
            type: string
        - description: A comma-separated list of idModels. Only actions related to these models will be returned.
          in: query
          name: idModels
          required: false
          schema:
            type: string
        - description: The limit of the number of responses, between 0 and 1000.
          in: query
          name: limit
          required: false
          schema:
            default: 50
            type: number
        - description: Whether to return the member object for each action.
          in: query
          name: member
          required: false
          schema:
            default: true
            type: boolean
        - description: The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) to return.
          in: query
          name: member_fields
          required: false
          schema:
            default: activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username
            type: string
        - description: Whether to return the memberCreator object for each action.
          in: query
          name: memberCreator
          required: false
          schema:
            default: true
            type: boolean
        - description: The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) creator to return
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username
            type: string
        - description: The page of results for actions.
          in: query
          name: page
          required: false
          schema:
            default: 0
            type: number
        - description: Whether to show reactions on comments or not.
          in: query
          name: reactions
          required: false
          schema:
            type: boolean
        - description: An Action ID
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: An Action ID
          in: query
          name: since
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Get a Card on a Board
      tags: []
  /boards/{id}/checklists:
    get:
      deprecated: false
      description: Get all of the checklists on a Board.
      operationId: boards-id-checklists
      parameters:
        - description: The ID of the board
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Get Checklists on a Board
      tags: []
  /boards/{id}/customFields:
    get:
      deprecated: false
      description: Get the Custom Field Definitions that exist on a board.
      operationId: get-boards-id-customfields
      parameters:
        - description: The ID of the board
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties: &ref_18
                    display:
                      properties:
                        cardFront:
                          example: true
                          type: boolean
                        name:
                          example: Priority 🏔
                          type: string
                        options:
                          items:
                            properties:
                              color:
                                example: red
                                type: string
                              id:
                                example: 5ab10be237846c43015f1091
                                pattern: ^[0-9a-fA-F]{24}$
                                type: string
                              idCustomField:
                                example: 5ab10be237846c43015f108e
                                pattern: ^[0-9a-fA-F]{24}$
                                type: string
                              pos:
                                example: 16384
                                type: number
                              value:
                                properties:
                                  text:
                                    example: High
                                    type: string
                                type: object
                            type: object
                          type: array
                        pos:
                          example: 98304,
                          type: string
                      type: object
                    fieldGroup:
                      example: f6177ba6839d6fff0f73922c1cea105e793fda8a1433d466104dacc0b7c56955
                      type: string
                    id:
                      example: 5ab10be237846c43015f108e
                      pattern: ^[0-9a-fA-F]{24}$
                      type: string
                    idModel:
                      example: 586e8f681d4fe9b06a928307
                      type: string
                    modelType:
                      enum:
                        - card
                        - board
                        - member
                      example: board
                      type: string
                    type:
                      example: list
                      type: string
                  type: object
                type: array
          description: Success
      summary: Get Custom Fields for Board
      tags: []
  /boards/{id}/emailKey/generate:
    post:
      deprecated: false
      description: ''
      operationId: post-boards-id-emailkey-generate
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: Create a emailKey for a Board
      tags: []
  /boards/{id}/idTags:
    post:
      deprecated: false
      operationId: post-boards-id-idtags
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: The id of a tag from the organization to which this board belongs.
          in: query
          name: value
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: Create a Tag for a Board
      tags: []
  /boards/{id}/labels:
    get:
      deprecated: false
      description: Get all of the Labels on a Board.
      operationId: get-boards-id-labels
      parameters:
        - description: The ID of the Board.
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: The fields to be returned for the Labels.
          in: query
          name: fields
          required: false
          schema:
            properties: *ref_10
            type: object
        - description: The number of Labels to be returned.
          in: query
          name: limit
          required: false
          schema:
            default: 50
            format: int32
            maximum: 1000
            minimum: 0
            type: integer
      responses:
        '200':
          description: Success
      summary: Get Labels on a Board
      tags: []
    post:
      deprecated: false
      description: Create a new Label on a Board.
      operationId: post-boards-id-labels
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The name of the label to be created. 1 to 16384 characters long.
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: Sets the color of the new label. Valid values are a label color or `null`.
          in: query
          name: color
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
      summary: Create a Label on a Board
      tags: []
  /boards/{id}/lists:
    get:
      deprecated: false
      description: Get the Lists on a Board
      operationId: get-boards-id-lists
      parameters:
        - description: Filter to apply to Cards.
          in: query
          name: cards
          required: false
          schema:
            enum: &ref_11
              - all
              - closed
              - none
              - open
            type: string
        - description: '`all` or a comma-separated list of card [fields](/cloud/trello/guides/rest-api/object-definitions/#card-object)'
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: Filter to apply to Lists
          in: query
          name: filter
          required: false
          schema:
            enum: *ref_11
            type: string
        - description: '`all` or a comma-separated list of list [fields](/cloud/trello/guides/rest-api/object-definitions/)'
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties: *ref_12
                  type: object
                type: array
          description: Success
      summary: Get Lists on a Board
      tags: []
    parameters:
      - description: The ID of the board
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    post:
      deprecated: false
      description: Create a new List on a Board.
      operationId: post-boards-id-lists
      parameters:
        - description: The name of the list to be created. 1 to 16384 characters long.
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: 'Determines the position of the list. Valid values: `top`, `bottom`, or a positive number.'
          in: query
          name: pos
          required: false
          schema:
            default: top
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: *ref_12
                type: object
          description: Success
      summary: Create a List on a Board
      tags: []
  /boards/{id}/lists/{filter}:
    get:
      deprecated: false
      description: ''
      operationId: get-boards-id-lists-filter
      parameters:
        - description: The ID of the board
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: One of `all`, `closed`, `none`, `open`
          in: path
          name: filter
          required: true
          schema:
            enum: *ref_11
            type: string
      responses:
        '200':
          description: Success
      summary: Get filtered Lists on a Board
      tags: []
  /boards/{id}/markedAsViewed:
    post:
      deprecated: false
      description: ''
      operationId: post-boards-id-markedasviewed
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
      responses:
        '200':
          description: Success
      summary: Mark Board as viewed
      tags: []
  /boards/{id}/members:
    get:
      deprecated: false
      description: Get the Members for a board
      operationId: get-boards-id-members
      responses:
        '200':
          description: Success
      summary: Get the Members of a Board
      tags: []
    parameters:
      - description: The ID of the board
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    put:
      deprecated: false
      description: Invite a Member to a Board via their email address.
      operationId: put-boards-id-members
      parameters:
        - description: The email address of a user to add as a member of the board.
          in: query
          name: email
          required: true
          schema:
            format: email
            type: string
        - description: 'Valid values: admin, normal, observer. Determines what type of member the user being added should be of the board.'
          in: query
          name: type
          required: false
          schema:
            default: normal
            enum:
              - admin
              - normal
              - observer
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                fullName:
                  description: The full name of the user to as a member of the board. Must have a length of at least 1 and cannot begin nor end with a space.
                  type: string
              type: object
      responses:
        '200':
          description: Success
      summary: Invite Member to Board via email
      tags: []
  /boards/{id}/members/{idMember}:
    delete:
      deprecated: false
      description: ''
      operationId: boardsidmembersidmember
      responses:
        '200':
          description: Success
      summary: Remove Member from Board
      tags: []
    parameters:
      - description: The id of the board to update
        in: path
        name: id
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
      - description: The id of the member to add to the board.
        in: path
        name: idMember
        required: true
        schema:
          example: 5abbe4b7ddc1b351ef961414
          pattern: ^[0-9a-fA-F]{24}$
          type: string
    put:
      deprecated: false
      description: Add a member to the board.
      operationId: put-boards-id-members-idmember
      parameters:
        - description: 'One of: admin, normal, observer. Determines the type of member this user will be on the board.'
          in: query
          name: type
          required: true
          schema:
            enum:
              - admin
              - normal
              - observer
            type: string
        - description: Optional param that allows organization admins to add multi-board guests onto a board.
          in: query
          name: allowBillableGuest
          required: false
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: Success
      summary: Add a Member to a Board
      tags: []
  /boards/{id}/memberships:
    get:
      deprecated: false
      description: Get information about the memberships users have to the board.
      operationId: get-boards-id-memberships
      parameters:
        - description: The ID of the board
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: One of `admins`, `all`, `none`, `normal`
          in: query
          name: filter
          required: false
          schema:
            default: all
            enum:
              - admins
              - all
              - none
              - normal
            type: string
        - description: Works for premium organizations only.
          in: query
          name: activity
          required: false
          schema:
            default: false
            type: boolean
        - description: Shows the type of member to the org the user is. For instance, an org admin will have a `orgMemberType` of `admin`.
          in: query
          name: orgMemberType
          required: false
          schema:
            default: false
            type: boolean
        - description: Determines whether to include a [nested member object](/cloud/trello/guides/rest-api/nested-resources/).
          in: query
          name: member
          required: false
          schema:
            default: false
            type: boolean
        - description: 'Fields to show if `member=true`. Valid values: [nested member resource fields](/cloud/trello/guides/rest-api/nested-resources/).'
          explode: false
          in: query
          name: member_fields
          required: false
          schema:
            default: fullname,username
            enum: *ref_3
            type: string
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                properties: &ref_37
                  id:
                    example: 5abbe4b7ddc1b351ef961414
                    pattern: ^[0-9a-fA-F]{24}$
                    type: string
                type: object
          description: Success
      summary: Get Memberships of a Board
      tags: []
  /boards/{id}/memberships/{idMembership}:
    put:
      deprecated: false
      description: Update an existing board by id
      operationId: put-boards-id-memberships-idmembership
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: The id of a membership that should be added to this board.
          in: path
          name: idMembership
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
        - description: 'One of: admin, normal, observer. Determines the type of member that this membership will be to this board.'
          in: query
          name: type
          required: true
          schema:
            enum:
              - admin
              - normal
              - observer
            type: string
        - description: 'Valid values: all, avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url, username'
          explode: false
          in: query
          name: member_fields
          required: false
          schema:
            default: fullName, username
            enum:
              - all
              - avatarHash
              - bio
              - bioData
              - confirmed
              - fullName
              - idPremOrgsAdmin
              - initials
              - memberType
              - products
              - status
              - url
              - username
            type: string
          style: form
      responses:
        '200':
          description: Success
      summary: Update Membership of Member on a Board
      tags: []
  /boards/{id}/myPrefs/emailPosition:
    put:
      deprecated: false
      description: Update emailPosition Pref on a Board
      operationId: put-boards-id-myprefs-emailposition
      parameters:
        - description: The id of the board to update
          in: path
          name: id
          required: true
          schema:
            example: 5abbe4b7ddc1b351ef961414
            pattern: ^[0-9a-fA-F]{24}$
            type: string
[...]
